body {
  font-size: 0.9rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #f8f8f8; }

section#navbar .container .row .social .nav a {
  text-decoration: none;
  color: #4e4e4e; }
  section#navbar .container .row .social .nav a .fab {
    font-size: 1rem; }
  section#navbar .container .row .social .nav a .fab:hover {
    color: #fa921a; }
  section#navbar .container .row .social .nav a .fas {
    font-size: 1rem; }
  section#navbar .container .row .social .nav a .fas:hover {
    color: #fa921a; }

section#navbar .container .main-menu .col-2 {
  border-bottom: 2px solid #4e4e4e; }

section#navbar .container .main-menu .menu .nav-link {
  color: #4e4e4e; }

section#navbar .container .main-menu .menu .nav-link:hover {
  color: #fa921a; }

div#slide-show .container-fluid .row {
  position: relative; }
  div#slide-show .container-fluid .row .slide-center {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 0;
    transform: translate(-50%); }
    div#slide-show .container-fluid .row .slide-center .img-slide .img {
      height: 38rem;
      background-position: center;
      background-size: cover;
      width: auto; }

div#content {
  margin-top: 47rem; }
  div#content .container .row .post {
    box-shadow: 0rem 0rem 1rem 0.1rem #ececec; }
    div#content .container .row .post .post-content {
      position: relative; }
      div#content .container .row .post .post-content .boring-space {
        height: 11rem; }
      div#content .container .row .post .post-content .info-post {
        position: absolute;
        top: 86%;
        left: 50%;
        width: 80%;
        height: auto;
        transform: translate(-50%, -50%); }
        div#content .container .row .post .post-content .info-post .tiny-title {
          font-size: 0.7rem;
          color: #c3a26e; }
        div#content .container .row .post .post-content .info-post .tiny-info {
          font-size: 0.8rem; }
  div#content .container .sub-post .sub-post-content {
    position: relative;
    height: 24rem;
    box-shadow: 0rem 0rem 1rem 0.1rem #ececec; }
    div#content .container .sub-post .sub-post-content .sub-info-post {
      position: absolute;
      top: 75%;
      left: 50%;
      width: 80%;
      height: auto;
      transform: translate(-50%, -50%); }
      div#content .container .sub-post .sub-post-content .sub-info-post .title-info-sub-post {
        font-size: 0.8rem; }
      div#content .container .sub-post .sub-post-content .sub-info-post .content-info-sub-post {
        font-size: 1.2rem; }
      div#content .container .sub-post .sub-post-content .sub-info-post .date-info-sub-post {
        font-size: 0.7rem; }
  div#content .container .row .btn-light {
    background-color: white !important;
    box-shadow: 0rem 0rem 1rem 0.1rem #ececec;
    font-size: 0.9rem; }
  div#content .container .side-bar .row .button-title {
    padding: .85rem 0 0.85rem 0; }
  div#content .container .side-bar .row .social .nav-link .fa-facebook-f {
    background-color: #e2e2e2;
    padding: 1.5rem 1.75rem 1.5rem 1.75rem;
    border-radius: 0.5rem;
    color: black; }
  div#content .container .side-bar .row .social .nav-link .fa-twitter {
    background-color: #e2e2e2;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black; }
  div#content .container .side-bar .row .social .nav-link .fa-instagram {
    background-color: #e2e2e2;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black; }
  div#content .container .side-bar .row .social .nav-link .fa-pinterest {
    background-color: #e2e2e2;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black; }
  div#content .container .side-bar .row .social .nav-link .fa-tumblr {
    background-color: #e2e2e2;
    padding: 1.5rem 1.7rem 1.5rem 1.7rem;
    border-radius: 0.5rem;
    color: black; }
  div#content .container .side-bar .row .social .nav-link .fa-facebook-f:hover {
    background-color: black;
    color: white;
    transition: 0.5s; }
  div#content .container .side-bar .row .social .nav-link .fa-twitter:hover {
    background-color: black;
    color: white;
    transition: 0.5s; }
  div#content .container .side-bar .row .social .nav-link .fa-instagram:hover {
    background-color: black;
    color: white;
    transition: 0.5s; }
  div#content .container .side-bar .row .social .nav-link .fa-pinterest:hover {
    background-color: black;
    color: white;
    transition: 0.5s; }
  div#content .container .side-bar .row .social .nav-link .fa-tumblr:hover {
    background-color: black;
    color: white;
    transition: 0.5s; }
  div#content .container .side-bar .join-the-family .bg-email {
    position: relative;
    background-color: #e8e8e8;
    padding: 3rem 0.5rem 3rem 0.5rem; }
    div#content .container .side-bar .join-the-family .bg-email .title-email {
      font-size: 1.4rem; }
    div#content .container .side-bar .join-the-family .bg-email .email-icon {
      position: absolute;
      top: 52%;
      left: 80%;
      transform: translate(-50%, 50%); }
      div#content .container .side-bar .join-the-family .bg-email .email-icon img {
        width: 4.8rem;
        height: auto; }
  div#content .container .side-bar .articles .img-album {
    position: relative; }
    div#content .container .side-bar .articles .img-album img {
      width: auto;
      height: 5rem; }
    div#content .container .side-bar .articles .img-album .some-news {
      position: absolute;
      top: 8%;
      left: 40%;
      transform: translate(-50%, -50%);
      padding: 0.35rem 0.9rem 0.35rem 0.9rem;
      border-radius: 2rem;
      background-color: black; }
    div#content .container .side-bar .articles .img-album .some-news-two {
      position: absolute;
      top: 8%;
      left: 40%;
      transform: translate(-50%, -50%);
      padding: 0.35rem 0.8rem 0.35rem 0.8rem;
      border-radius: 2rem;
      background-color: black; }
    div#content .container .side-bar .articles .img-album .some-news-three {
      position: absolute;
      top: 8%;
      left: 40%;
      transform: translate(-50%, -50%);
      padding: 0.35rem 0.8rem 0.35rem 0.8rem;
      border-radius: 2rem;
      background-color: black; }
  div#content .container .side-bar .articles .text-big {
    font-size: 1.1rem; }
  div#content .container .side-bar .articles .tiny-text {
    font-size: 0.8rem; }
  div#content .container .side-bar .categories-list .bg-number {
    background-color: #c4c4c4;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.75rem; }
  div#content .container .side-bar .featured-list-one .img-with-text {
    position: relative; }
    div#content .container .side-bar .featured-list-one .img-with-text .overlay {
      position: absolute;
      top: 50%;
      left: 56%;
      transform: translate(-50%, -50%);
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
      width: 21.7rem;
      height: 16rem; }
    div#content .container .side-bar .featured-list-one .img-with-text .text-on-img {
      position: absolute;
      top: 80%;
      left: 40%;
      transform: translate(-23%, -50%); }
      div#content .container .side-bar .featured-list-one .img-with-text .text-on-img .text-title {
        font-size: 1.2rem; }
      div#content .container .side-bar .featured-list-one .img-with-text .text-on-img .sub-text {
        color: rgba(255, 255, 255, 0.644); }
  div#content .container .side-bar .featured-list-two .img-with-text {
    position: relative; }
    div#content .container .side-bar .featured-list-two .img-with-text .img {
      width: 100%;
      height: auto;
      padding-bottom: 40%;
      background-position: center;
      background-size: cover; }
    div#content .container .side-bar .featured-list-two .img-with-text .text-on-img {
      position: absolute;
      top: 50%;
      left: 56%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem; }
  div#content .container .side-bar .facebook-input {
    position: relative; }
    div#content .container .side-bar .facebook-input .banner-facebook {
      width: 100%;
      height: auto; }
    div#content .container .side-bar .facebook-input .avatar-facebook {
      width: 3.5rem;
      height: auto;
      position: absolute;
      top: 30%;
      left: 25.5%;
      transform: translate(-50%, -50%);
      padding: 2px; }
    div#content .container .side-bar .facebook-input .button-like-page {
      position: absolute;
      top: 80%;
      left: 28%;
      transform: translate(-50%, -50%);
      padding: 0.2rem 0.8rem 0.2rem 0.8rem; }
      div#content .container .side-bar .facebook-input .button-like-page i {
        color: #4267b2; }
    div#content .container .side-bar .facebook-input .button-shop-now {
      position: absolute;
      top: 80%;
      left: 70%;
      transform: translate(5%, -50%);
      padding: 0.2rem 0.8rem 0.2rem 0.8rem; }
    div#content .container .side-bar .facebook-input .page-name-facebook {
      position: absolute;
      top: 14%;
      left: 49%;
      transform: translate(-50%, -50%);
      font-size: 1.3rem;
      text-shadow: 2px 2px 3px black; }
    div#content .container .side-bar .facebook-input .like {
      position: absolute;
      top: 31%;
      left: 39.5%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      text-shadow: 2px 2px 3px black; }
  div#content .container .side-bar .bottom-facebook-input .bg-content .content {
    background-color: #f6f7f9;
    border: 1px solid #e9ebee;
    padding: 0.5rem; }
    div#content .container .side-bar .bottom-facebook-input .bg-content .content .blah {
      background-color: #ffffff;
      border: 1px solid #e9ebee;
      padding: 0.5rem;
      box-shadow: 0px 1px 2px 1px #e9ebee;
      border-radius: 0.3rem;
      font-size: 0.8rem; }

section#album-bottom .container-fluid .bottom {
  position: relative; }
  section#album-bottom .container-fluid .bottom .nav .nav-link .fix-size {
    width: 14.6rem;
    height: auto; }
  section#album-bottom .container-fluid .bottom .hastag-instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.1rem;
    box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.2); }

section#information .container .fix-size .date-post {
  font-size: 0.7rem; }

section#information .container .subcribe-follow .social-first {
  font-size: 1rem; }
  section#information .container .subcribe-follow .social-first .fa-facebook-f {
    color: black;
    background-color: #e2e2e2;
    padding: 1.3rem 1.6rem 1.3rem 1.6rem;
    border-radius: 0.4rem; }
  section#information .container .subcribe-follow .social-first .fa-twitter {
    color: black;
    background-color: #e2e2e2;
    padding: 1.3rem 1.25rem 1.3rem 1.25rem;
    border-radius: 0.4rem; }
  section#information .container .subcribe-follow .social-first .fa-instagram {
    color: black;
    background-color: #e2e2e2;
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
    border-radius: 0.4rem; }
  section#information .container .subcribe-follow .social-first .fa-pinterest {
    color: black;
    background-color: #e2e2e2;
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
    border-radius: 0.4rem; }
  section#information .container .subcribe-follow .social-first .fa-facebook-f:hover {
    color: white;
    background-color: black;
    transition: 0.5s; }
  section#information .container .subcribe-follow .social-first .fa-twitter:hover {
    color: white;
    background-color: black;
    transition: 0.5s; }
  section#information .container .subcribe-follow .social-first .fa-instagram:hover {
    color: white;
    background-color: black;
    transition: 0.5s; }
  section#information .container .subcribe-follow .social-first .fa-pinterest:hover {
    color: white;
    background-color: black;
    transition: 0.5s; }

section#information .container .subcribe-follow .social-secondary {
  font-size: 1rem; }
  section#information .container .subcribe-follow .social-secondary .fa-heart {
    color: black;
    background-color: #e2e2e2;
    padding: 1.3rem 1.35rem 1.3rem 1.35rem;
    border-radius: 0.4rem; }
  section#information .container .subcribe-follow .social-secondary .fa-google-plus-g {
    color: black;
    background-color: #e2e2e2;
    padding: 1.3rem 1.2rem 1.3rem 1.1rem;
    border-radius: 0.4rem; }
  section#information .container .subcribe-follow .social-secondary .fa-youtube {
    color: black;
    background-color: #e2e2e2;
    padding: 1.3rem 1.2rem 1.3rem 1.2rem;
    border-radius: 0.4rem; }
  section#information .container .subcribe-follow .social-secondary .fa-rss {
    color: black;
    background-color: #e2e2e2;
    padding: 1.3rem 1.35rem 1.3rem 1.35rem;
    border-radius: 0.4rem; }
  section#information .container .subcribe-follow .social-secondary .fa-heart:hover {
    color: white;
    background-color: black;
    transition: 0.5s; }
  section#information .container .subcribe-follow .social-secondary .fa-google-plus-g:hover {
    color: white;
    background-color: black;
    transition: 0.5s; }
  section#information .container .subcribe-follow .social-secondary .fa-youtube:hover {
    color: white;
    background-color: black;
    transition: 0.5s; }
  section#information .container .subcribe-follow .social-secondary .fa-rss:hover {
    color: white;
    background-color: black;
    transition: 0.5s; }

section#information .container .more-information .row a {
  text-decoration-line: none;
  color: #c3a26e; }

section#footer .social-footer {
  border-bottom: 1px solid rgba(128, 128, 128, 0.438);
  padding-bottom: 2rem; }
  section#footer .social-footer i {
    font-size: 1.5rem;
    color: white; }
  section#footer .social-footer .icon-title {
    letter-spacing: 3px; }

section#footer .ps {
  font-family: 'PT Serif Caption', serif; }
