$icon-color:#4e4e4e;
$hover: rgb(250, 146, 26);
$dark: rgb(78, 78, 78);
$background: #f8f8f8;
$shadow: rgb(236, 236, 236);
$bg-social: #e2e2e2;
$gold:#c3a26e;
$bg-email-address: #e8e8e8;
$bg-number: #c4c4c4;
$facebook: #4267b2;

body {
    font-size: 0.9rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: $background;
}

section#navbar {
    .container {
        .row {
            .social {
                .nav {
                    a {
                        text-decoration: none;
                        color: $icon-color;
                        .fab {
                            font-size: 1rem;
                        }
                        .fab:hover {
                            color: $hover;
                        }
                        .fas {
                            font-size: 1rem;
                        }
                        .fas:hover {
                            color: $hover;
                        }
                    }
                }
            }
        }
        .main-menu {
            .col-2 {
                border-bottom: 2px solid $dark;
            }
            .menu {
                .nav-link {
                    color: $icon-color;
                }
                .nav-link:hover {
                    color: $hover;
                }
            }
        }

    }
}

div#slide-show {
    .container-fluid {    
     .row {
        position: relative;
        .slide-center {
            position: absolute;
            width: 100%; 
            height: auto;
           left:50%;
           top: 0;     
           transform: translate(-50%);         
            .img-slide {
                .img {
                    height: 38rem;
                    background-position: center;
                    background-size: cover;
                    width: auto;
                }
            }
        }
     }
    }
}

div#content {
    margin-top: 47rem;
    .container {
        .row {
            .post {
                box-shadow: 0rem 0rem 1rem 0.1rem $shadow;
                
                .post-content {
                    position: relative;
                    .boring-space {
                        height: 11rem;
                    }
                    .info-post {
                        .tiny-title {
                            font-size: 0.7rem;
                            color: $gold;
                        }
                        position: absolute;
                        top: 86%;
                        left: 50%;
                        width: 80%;
                        height: auto;
                        transform: translate(-50%,-50%);
                        .tiny-info {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        .sub-post {
            .sub-post-content {
                position: relative;
                height: 24rem;
                box-shadow: 0rem 0rem 1rem 0.1rem $shadow;
                .sub-info-post {
                    position: absolute;
                    top: 75%;
                    left: 50%;
                    width: 80%;
                    height: auto;
                    transform: translate(-50%,-50%);
                    .title-info-sub-post {
                        font-size: 0.8rem;
                    }
                    .content-info-sub-post {
                        font-size: 1.2rem;
                    }
                    .date-info-sub-post {
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .row {
            .btn-light {
                background-color: white !important;
                box-shadow: 0rem 0rem 1rem 0.1rem $shadow;
                font-size: 0.9rem;                
            }
        }
        .side-bar {
            .row {
                .button-title {
                    padding: .85rem 0 0.85rem 0;
                }
                .social {
                    .nav-link {
                     .fa-facebook-f {
                         background-color: $bg-social;
                         padding: 1.5rem 1.75rem 1.5rem 1.75rem;
                         border-radius: 0.5rem;
                         color: black;
                     }
                     .fa-twitter {
                        background-color: $bg-social;
                        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
                        border-radius: 0.5rem;
                        color: black;
                     }
                     .fa-instagram {
                        background-color: $bg-social;
                        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
                        border-radius: 0.5rem;
                        color: black;
                     }
                     .fa-pinterest {
                        background-color: $bg-social;
                        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
                        border-radius: 0.5rem;
                        color: black;
                     }
                     .fa-tumblr {
                        background-color: $bg-social;
                        padding: 1.5rem 1.7rem 1.5rem 1.7rem;
                        border-radius: 0.5rem;
                        color: black;
                     }
                    }
                    .nav-link {
                        .fa-facebook-f:hover {
                            background-color: black;
                            color:white;
                            transition: 0.5s
                        }
                        .fa-twitter:hover {
                            background-color: black;
                            color:white;
                            transition: 0.5s
                        }
                        .fa-instagram:hover {
                            background-color: black;
                            color:white;
                            transition: 0.5s
                        }
                        .fa-pinterest:hover {
                            background-color: black;
                            color:white;
                            transition: 0.5s
                        }
                        .fa-tumblr:hover {
                            background-color: black;
                            color:white;
                            transition: 0.5s
                        }
                    }
                }
              
            }
            .join-the-family {
               .bg-email {
                position: relative;
                background-color: $bg-email-address;
                padding: 3rem 0.5rem 3rem 0.5rem;
                .title-email {
                    font-size: 1.4rem;
                }
                .email-icon {
                    position: absolute;
                    top: 52%;
                    left: 80%;
                    transform: translate(-50%,50%);
                    img {
                        width: 4.8rem;
                        height: auto;
                    } 
                }
               }
            }
            .articles {
                .img-album {
                    position: relative;
                    img {
                        width: auto;
                        height: 5rem;
                    }
                    .some-news {
                        position: absolute;
                        top:8%;
                        left:40%;
                        transform: translate(-50%,-50%);
                        padding: 0.35rem 0.9rem 0.35rem 0.9rem;
                        border-radius: 2rem;                       
                        background-color: black;
                    }
                    .some-news-two {
                        position: absolute;
                        top:8%;
                        left:40%;
                        transform: translate(-50%,-50%);
                        padding: 0.35rem 0.8rem 0.35rem 0.8rem;
                        border-radius: 2rem;                       
                        background-color: black;
                    }
                    .some-news-three {
                        position: absolute;
                        top:8%;
                        left:40%;
                        transform: translate(-50%,-50%);
                        padding: 0.35rem 0.8rem 0.35rem 0.8rem;
                        border-radius: 2rem;                       
                        background-color: black;
                    }
                }
                .text-big {
                    font-size: 1.1rem;
                }
                .tiny-text {
                    font-size: 0.8rem;
                }
            }
            .categories-list {
                .bg-number {
                    background-color: $bg-number;
                    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
                    border-radius: 0.3rem;
                    font-size: 0.75rem;
                    
                }
            }
            .featured-list-one {
                .img-with-text {
                    position: relative;
                    .overlay {
                        position: absolute;
                        top:50%;
                        left:56%;
                        transform: translate(-50%,-50%);
                        background: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.600));
                        width: 21.7rem;
                        height: 16rem;                        
                    }
                    .text-on-img {
                        position: absolute;
                        top: 80%;
                        left: 40%;
                        transform: translate(-23%,-50%);    
                        .text-title {
                            font-size: 1.2rem;
                        }       
                        .sub-text {
                            color: rgba(255, 255, 255, 0.644);
                        }           
                    }
                }
            }
            .featured-list-two {
                .img-with-text {   
                    position: relative;                                   
                    .img {                        
                       width: 100%;
                       height: auto;
                       padding-bottom: 40%;
                       background-position: center;
                       background-size: cover;                       
                    }
                    .text-on-img {
                        position: absolute;
                        top:50%;
                        left:56%;
                        transform: translate(-50%,-50%);
                        background-color: white;
                        padding: 0.5rem 1.5rem 0.5rem 1.5rem; 
                    }
                }
            }
            .facebook-input {
                position: relative;
                .banner-facebook {
                    width: 100%;
                    height: auto;
                }
                .avatar-facebook {
                    width: 3.5rem;
                    height: auto;
                    position: absolute;
                    top: 30%;
                    left: 25.5%;
                    transform: translate(-50%,-50%);
                    padding: 2px;
                }

                .button-like-page {   
                    i {
                        color: $facebook;
                    }
                    position: absolute;
                    top:80%;
                    left:28%;
                    transform: translate(-50%,-50%);             
                    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
                }
                .button-shop-now {
                    position: absolute;
                    top:80%;
                    left:70%;
                    transform: translate(5%,-50%);
                    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
                }
                .page-name-facebook {
                    position: absolute;
                    top: 14%;
                    left: 49%;
                    transform: translate(-50%,-50%);
                    font-size: 1.3rem;
                    text-shadow: 2px 2px 3px black;
                }
                .like {
                    position: absolute;
                    top: 31%;
                    left: 39.5%;
                    transform: translate(-50%,-50%);
                    font-size: 1rem;
                    text-shadow: 2px 2px 3px black;
                }
            }
            .bottom-facebook-input {
               .bg-content {               
                .content {
                    background-color: #f6f7f9;
                    border: 1px solid #e9ebee;
                    padding: 0.5rem;
                   .blah {
                    background-color: #ffffff;
                    border: 1px solid #e9ebee;
                    padding: 0.5rem;
                    box-shadow: 0px 1px 2px 1px #e9ebee;
                    border-radius: 0.3rem;
                    font-size: 0.8rem;
                   }
                }
               }
              
            }
            
        }
    }
}

section#album-bottom {
    .container-fluid {       
     .bottom {
        position: relative;
        .nav{
            .nav-link {
               
                .fix-size {
                    width: 14.6rem;
                    height: auto;

                }
             
            }
        }
        .hastag-instagram {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: white;
            padding: 1rem 2rem 1rem 2rem;
            font-size: 1.1rem;
            box-shadow: 0px 0px 18px 12px rgba(0,0,0, .2);
        }
     }
        
    }
}
section#information {
    .container {
        .fix-size {
            .date-post {
                font-size: 0.7rem;
            }
        }   
        .subcribe-follow {
            .social-first {
                font-size: 1rem;
                .fa-facebook-f {
                  
                    color: black;
                    background-color: $bg-social;
                    padding: 1.3rem 1.6rem 1.3rem 1.6rem;
                    border-radius: 0.4rem;
                }
                .fa-twitter {
                    color: black;
                    background-color: $bg-social;
                    padding: 1.3rem 1.25rem 1.3rem 1.25rem;
                    border-radius: 0.4rem;
                }
                .fa-instagram {
                    color: black;
                    background-color: $bg-social;
                    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
                    border-radius: 0.4rem;
                }
                .fa-pinterest {
                    color: black;
                    background-color: $bg-social;
                    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
                    border-radius: 0.4rem;
                }
                .fa-facebook-f:hover {
                    color:white;
                    background-color: black;
                    transition: 0.5s
                }
                .fa-twitter:hover {
                    color: white;
                    background-color: black;
                    transition: 0.5s
                }
                .fa-instagram:hover {
                    color: white;
                    background-color: black;
                    transition: 0.5s
                }
                .fa-pinterest:hover {
                    color: white;
                    background-color: black;
                    transition: 0.5s
                }
            }                           
            .social-secondary {
                font-size: 1rem;
                .fa-heart {
                    color: black;
                    background-color: $bg-social;
                    padding: 1.3rem 1.35rem 1.3rem 1.35rem;    
                    border-radius: 0.4rem;                
                }
                .fa-google-plus-g {
                    color: black;
                    background-color: $bg-social;
                    padding: 1.3rem 1.2rem 1.3rem 1.1rem;
                    border-radius: 0.4rem;
                }
                .fa-youtube {
                    color: black;
                    background-color: $bg-social;
                    padding: 1.3rem 1.2rem 1.3rem 1.2rem;
                    border-radius: 0.4rem;
                }
                .fa-rss {
                    color: black;
                    background-color: $bg-social;
                    padding: 1.3rem 1.35rem 1.3rem 1.35rem;
                    border-radius: 0.4rem;
                }
                .fa-heart:hover {
                    color: white;
                    background-color: black;
                    transition: 0.5s
                }
                .fa-google-plus-g:hover {
                    color: white;
                    background-color: black;
                    transition: 0.5s
                }
                .fa-youtube:hover {
                    color: white;
                    background-color: black;
                    transition: 0.5s
                }
                .fa-rss:hover {
                    color: white;
                    background-color: black;
                    transition: 0.5s
                }
            }
        }
        .more-information {
            .row {
                a {
                    text-decoration-line: none;
                    color: #c3a26e;
                }
            }
        }
    }
}

section#footer {
    .social-footer {
        border-bottom: 1px solid rgba(128, 128, 128, 0.438);
        padding-bottom: 2rem;
        i{
            font-size: 1.5rem;
            color: white;
        }
        .icon-title {            
            letter-spacing: 3px;           
        }
    }
    .ps {
        font-family: 'PT Serif Caption', serif;
    }
}